html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

h1 {
	font-size: 2em;
	margin: 0;
}

h2 {
	margin: 0.1em;
	font-size: 1.25em;
}

a {
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	outline: 0;
}

small {
	font-size: 80%;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Phone Display
 ========================================================================== */

.marvel-device {
	/* display: inline-block;
	position: relative;
	box-sizing: content-box !important */
}

.marvel-device .screen {
	width: 100%;
	position: relative;
	height: calc(100vh - 10em);
	color: #fff;
	z-index: 2;
	text-align: center;
	display: block;
	border-radius: .1em;
	box-shadow: 0 0 0 3px #111
}

.marvel-device .top-bar {
	height: 3px;
	background: black;
	width: 100%;
	display: block
}

.marvel-device.htc-one {
	position: fixed;
	padding: 5em 1em 0 1em;
	max-width: 26em;
	background: #bebebe;
	border-radius: 2em;
	height: calc(100vh - 6em);
}

.marvel-device.htc-one:before {
	/* content: '';
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	position: absolute;
	top: 2px;
	left: 2px;
	background: #adadad;
	border-radius: 2em */
}

.marvel-device.htc-one:after {
	content: '';
	display: block;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	position: absolute;
	top: 4px;
	left: 4px;
	background: #eee;
	border-radius: 2em
}

.marvel-device.htc-one .top-bar {
	width: calc(100% - 8px);
	position: absolute;
	background: #424242;
	top: 50px;
	z-index: 1;
	left: 4px
}

.marvel-device.htc-one .speaker {
	height: 16px;
	width: 200px;
	display: block;
	position: absolute;
	top: 22px;
	z-index: 2;
	left: 50%;
	margin-left: -100px;
	background: radial-gradient(#343434 25%, transparent 50%) 0 0, radial-gradient(#343434 25%, transparent 50%) 4px 4px;
	background-size: 4px 4px;
	background-position: top left
}

.marvel-device.htc-one .camera {
	display: block;
	position: absolute;
	top: 18px;
	right: 38px;
	background: #3c3d3d;
	border-radius: 100%;
	width: 24px;
	height: 24px;
	z-index: 3
}

.marvel-device.htc-one .camera:before {
	width: 8px;
	height: 8px;
	background: black;
	border-radius: 100%;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	margin-top: -4px;
	margin-left: -4px
}

.marvel-device.htc-one .sensor {
	display: block;
	position: absolute;
	top: 29px;
	left: 60px;
	background: #3c3d3d;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	z-index: 3
}

.marvel-device.htc-one .sensor:after {
	display: block;
	content: '';
	position: absolute;
	top: 0px;
	right: 12px;
	background: #3c3d3d;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	z-index: 3
}

body {
	text-align: center;
	font-family: sans-serif;
	font-size: 0.9em;
	/* background-color: #738596; */
	margin: 0;
	background-color: rgb(32, 32, 32);
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
	background-size: 10px 10px, 10px 10px, 10px 5px;
	background-position: 0px 0px, 5px 5px, 0px 0px;
}

p {
	margin: 0.25em;
}

.icon {
	vertical-align: top;
	width: 20%;
	display: inline-block;
	padding-top: 1em;
	font-size: .9em;
}
.icon svg {
	max-width: 85%;
}
.square {
	border-radius: 14%;
}
.screen {
	background-color: #2a2228;
}
.download {
	text-decoration: underline;
}

abbr[title] {
	text-decoration: none;
}

.none {
	display:none
}

#bottomspeaker {
	position: relative;
}

.screen {
	/* For Firefox Does this work???*/
	scrollbar-width: none;
	/* For Internet Explorer and Edge */
	-ms-overflow-style: none;
	overflow-y: auto;
}
.screen::-webkit-scrollbar {
	/* For Chrome, Safari, and Opera */
	width: 0px;
}

